.error-indicator {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #c87f0a;
}

.error-indicator .oops {
    font-size: 1.7rem;
    color: floralwhite;
}

.error-indicator img {
   width: 20%;
    margin-bottom: 1rem;
}