<div class="loadingio-spinner-double-ring-g1exn09jzj5"><div class="ldio-tqfkkmhnnvj">
    <div></div>
    <div></div>
    <div><div></div></div>
    <div><div></div></div>
</div></div>
<style type="text/css">
    @keyframes ldio-tqfkkmhnnvj {
        0% { transform: rotate(0) }
        100% { transform: rotate(360deg) }
    }
    .ldio-tqfkkmhnnvj div { box-sizing: border-box!important }
    .ldio-tqfkkmhnnvj > div {
        position: absolute;
        width: 90.52px;
        height: 90.52px;
        top: 16.74px;
        left: 16.74px;
        border-radius: 50%;
        border: 6.2px solid #000;
        border-color: #1247ea transparent #1247ea transparent;
        animation: ldio-tqfkkmhnnvj 2.564102564102564s linear infinite;
    }

    .ldio-tqfkkmhnnvj > div:nth-child(2), .ldio-tqfkkmhnnvj > div:nth-child(4) {
        width: 75.64px;
        height: 75.64px;
        top: 24.18px;
        left: 24.18px;
        animation: ldio-tqfkkmhnnvj 2.564102564102564s linear infinite reverse;
    }
    .ldio-tqfkkmhnnvj > div:nth-child(2) {
        border-color: transparent #00990f transparent #00990f
    }
    .ldio-tqfkkmhnnvj > div:nth-child(3) { border-color: transparent }
    .ldio-tqfkkmhnnvj > div:nth-child(3) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
    .ldio-tqfkkmhnnvj > div:nth-child(3) div:before, .ldio-tqfkkmhnnvj > div:nth-child(3) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 6.2px;
        height: 6.2px;
        top: -6.2px;
        left: 35.96px;
        background: #1247ea;
        border-radius: 50%;
        box-shadow: 0 84.32px 0 0 #1247ea;
    }
    .ldio-tqfkkmhnnvj > div:nth-child(3) div:after {
        left: -6.2px;
        top: 35.96px;
        box-shadow: 84.32px 0 0 0 #1247ea;
    }

    .ldio-tqfkkmhnnvj > div:nth-child(4) { border-color: transparent; }
    .ldio-tqfkkmhnnvj > div:nth-child(4) div {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotate(45deg);
    }
    .ldio-tqfkkmhnnvj > div:nth-child(4) div:before, .ldio-tqfkkmhnnvj > div:nth-child(4) div:after {
        content: "";
        display: block;
        position: absolute;
        width: 6.2px;
        height: 6.2px;
        top: -6.2px;
        left: 28.52px;
        background: #00990f;
        border-radius: 50%;
        box-shadow: 0 69.44px 0 0 #00990f;
    }
    .ldio-tqfkkmhnnvj > div:nth-child(4) div:after {
        left: -6.2px;
        top: 28.52px;
        box-shadow: 69.44px 0 0 0 #00990f;
    }
    .loadingio-spinner-double-ring-g1exn09jzj5 {
        width: 124px;
        height: 124px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }
    .ldio-tqfkkmhnnvj {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }
    .ldio-tqfkkmhnnvj div { box-sizing: content-box; }
    /* generated by https://loading.io/ */
</style>